{
  "presets": ["@babel/preset-react", "@babel/env"],
  "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-add-module-exports",
    "transform-object-assign"
  ]
}
