{
  "printWidth": 100,
  "arrowParens": "always",
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "requirePragma": false,
  "proseWrap": "preserve",
  "trailingComma": "all"
}
